/* 셀렉트 박스 스타일 */
select {
    width: 150px !important;
    background-color: #e9ecef;
    text-align: center;
    font-weight: 500;
    height: auto;
    padding: 15px;
    border: 1px solid var(--color-mray);
    border-radius: 8px;
}

/* 버튼 스타일 */
button {
    padding: 12px 25px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease;
    background-color: #007bff;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #0056b3;
}

